<div class="card">
  <div class="card-header bg-secondary">
    <h2>Edit profile <% resource_name.to_s.humanize %></h2>
  </div>
  <div class="bg-local">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field form-group mt-4">
        <% f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"New Password (For the love of god, not just password)" %>
      </div>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <div class="field form-group">
        <% f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm Password (not the word Password)" %>
      </div>
      <div class="field form-group mt-5">
        <% f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"Current Password (Is it Password?)" %>
      </div>
      <div class="actions">
        <%= f.submit "Update", class:"btn btn-success my-3" %> <%= link_to "Back", :back, class:"btn btn-secondary" %>
      </div>
    <% end %>
  </div>
  <div class="bg-local">
      <h3 class="card-header bg-dark text-white">Unhappy?</h3>
      <h4 class="my-2"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger my-2" %></h4>
  </div>
</div>