<% if @friend.user == current_user %>
rails <p id="notice"><%= notice %></p>

<!-- <div class="container"> -->
<p class="field form-group">
  <strong>First name:</strong>
 <i class="form-control"> <%= @friend.first_name %> </i>
</p>

<p class="field form-group">
  <strong class="text-black">Last name:</strong>
 <i class="form-control"> <%= @friend.last_name %> </i>
</p>

<p class="field form-group">
  <strong>Email:</strong>
  <em class="form-control"> <%= @friend.email %> </em>
</p>

<p class="field form-group">
  <strong>Phone:</strong>
  <em class="form-control"> <%= @friend.phone %> </em>
</p>

<p class="field form-group">
  <strong>Twitter:</strong>
  <em class="form-control"> <%= @friend.twitter %> </em>
</p>
<!-- </div> -->

<%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary"  %> |
<%= link_to 'Back', friends_path, class:"btn btn-secondary"  %>
<% else %>
<%= link_to "Return to homepage", root_path, class:"btn btn-success fs-4 m-3" %>
<% end %>