<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A friend app from a turorial">
    <meta name="keywords" content="Based on turorial">
    <meta name="author" content="Michael K, with aid from a tutorial by John Elder">
    <title>What'r Friends?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag ('favicon.ico') %>
  </head>
  <header>
      <%= render 'home/header' %>
  </header>
  <body class="bg-local">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>